Package: landmark-tool
Version: 0.1.1
Section: utils
Priority: optional
Maintainer: donald <ydchen@yahoo.com>
Architecture: all
Depends: python2.7, python-qt4
Description: Landmark Tool is a simple application that helps you to landmark images
