[Desktop Entry]
Type=Application
Version=0.1
Encoding=UTF-8
Name=Landmark Tool
GenericName=Landmark Tool
Comment=a simple application that helps you to landmark images
Exec=landmark-tool
Icon=/usr/share/pixmaps/landmark-tool.png
Terminal=false
Categories=GNOME;Graphics;
